/*
    $nile-blue: #19535F;
    $cello-blue: #1E5061;
    $surfie-green: #0B7976;

    $vivid-tangerine: #FF9F74;
    $wax-flower: #FFB4A1;

    $gallery-grey: #EFEFEF;
*/


body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

a {
    color: #000000;
}

    a:hover {
        color: #686F75;
        text-decoration: none;
    }

.texthidden {
    overflow: hidden;
    text-indent: -9999px;
}

.content__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* sprint listing specific stuff */
.sprint__headline {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.sprint__title {
    align-items: baseline;
    display: flex;
}

    .sprint__title span {
        font-size: 12px;
        margin-left: 10px;
    }

.sprint__details {
    display: flex;
    justify-content: space-between;
}

.sprint__points-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.sprint__points-item {
    background: #d0d0d0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px;
}


/* sprint listing - story specific stuff */
.story__container {
    border: 1px solid #d0d0d0;
    margin-bottom: 5px;
}

.story__headline {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .story__headline > div {
        display: flex;
    }

.story__status {
    overflow: hidden;
    padding: 3px;
    text-indent: -9999px;
    width: 25px;
}

.story__title {
    padding: 3px 10px;
    width: 300px;
}

.story__tag {
    padding: 3px;
}

.story__tag-link {
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
}

    .story__tag-link:hover {
        color: #686F75;
        text-decoration: none;
    }

.story__points {
    background: #d0d0d0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px;
}

.story__priority, .story__type {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
}

.story__quick-links {
    padding: 3px;
}

.story-details__container {
    display: flex;
    justify-content: space-between;
}

.story-details__content {
    padding: 10px;
}

.story-details__actions {
    padding: 10px;
}


/* story status colours and styles */
.todo {
    background: #e85c5c;
    color: #ffffff;
    text-align: center;
}

.inprogress {
    background: #f7b55d;
    color: #ffffff;
    text-align: center;
}

.done {
    background: #69c685;
    color: #ffffff;
    text-align: center;
}


/* block link */
.block-link__overlay {
    background: transparent;
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 500%;
    top: 0;
    white-space: nowrap;
}

    .block-link__overlay:hover {
    }


/* blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.blog__item {
    height: 100%;
    width: 100%;
}

@media (min-width: 450px) {
    .blog__item {
        max-width: 300px;
        width: 50%;
    }
}

@media (min-width: 650px) {
    .blog__item {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .blog__item {
        width: 25%;
    }
}

.blog__container {
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: auto;
    display: block;
    filter: grayscale(100%);
    height: 100%;
    left: auto;
    margin: 10px;
    position: relative;
    top: auto;
    width: auto;
    -webkit-filter: grayscale(100%);
}

.blog__media {
    bottom: auto;
    display: block;
    height: 200px;
    left: auto;
    overflow: hidden;
    position: relative;
    text-indent: 500%;
    top: auto;
    white-space: nowrap;
    width: 100%;
}

.blog__content {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    height: 75px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

    .blog__content:hover {
        background-color: rgba(255, 255, 255, 0.9);
        height: 95px;
    }


.blog__content-link:hover {
    color: #000000;
}

.blog__post-title {
    margin: 0;
}

.blog__more {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.blog__button {
    background-color: #1E5061;
    color: #ffffff;
    max-width: 300px;
    text-transform: lowercase;
    width: 100%;
}

    .blog__button:hover, .blog__button:focus {
        background-color: #163c49;
        color: #ffffff;
    }


/* playlists and tracks */
.playlists {
    display: flex;
    flex-wrap: wrap;
}

.playlist {
    margin-bottom: 20px;
    width: 100%;
}

@media (min-width: 450px) {
    .playlist {
        margin-bottom: 10px;
        padding: 10px;
        width: 50%;
    }

    .playlists {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.playlist__media {
    bottom: auto;
    display: block;
    height: 100px;
    left: auto;
    overflow: hidden;
    position: relative;
    text-indent: 500%;
    top: auto;
    white-space: nowrap;
    width: 100%;
}

.playlist__heading {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: auto;
    display: block;
    height: 100px;
    left: auto;
    margin-bottom: 10px;
    position: relative;
    top: auto;
}

.playlist__content {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

    .playlist__content:hover {
        background-color: rgba(255, 255, 255, 0.9);
        height: 60px;
    }

.playlist__content-link:hover {
    color: #000000;
}

.playlist__name {
    margin: 0;
}

.playlist__info {
    margin-bottom: 5px;
}

.playlist__more  {
    margin-top: 10px;
}

.playlist__button {
    background-color: #1E5061;
    color: #ffffff;
    text-transform: lowercase;
    width: 100%;
}

    .playlist__button:hover, .playlist__button:focus {
        background-color: #163c49;
        color: #ffffff;
    }

.track {
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.track__album {
    margin-right: 5px;
}

.track__album-image {
    max-width: 40px;
}

.track__artist {
    margin-right: 5px;
}

    .track__artist:after {
        content: " - ";
    }

.track__track {
}


/* nav */
.navbar {
    background-color: #1E5061;
    border-bottom: 10px solid #FFB4A1;
    border-left: none;
    border-right: none;
    border-top: none;
}

    .navbar .navbar-toggle {
        border-color: #EFEFEF;
    }

        .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
            background-color: #163c49;
            outline: none;
        }

        .navbar .navbar-toggle .icon-bar {
            background-color: #EFEFEF;
        }

    .navbar .navbar-brand {
        color: #ffffff;
    }

.nav > li {
    text-transform: lowercase;
}

.nav > li > a, .admin-nav__item > a {
    color: #EFEFEF;
}

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: transparent;
        color: #FFB4A1;
    }

.navbar-collapse {
    background-color: #163c49;
}

@media (min-width: 768px) {
    .navbar-collapse {
        background-color: #1E5061;
    }
}

.admin {
    background-color: #FFB4A1;
}

.admin-navbar {
    background-color: #FFB4A1;
    padding-left: 0;
    padding-right: 0;
}

.admin-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

@media (min-width: 768px) {
    .admin-nav {
        margin-left: -15px;
    }
}

.admin-nav__item {
    float: left;
    margin: 5px 15px;
    text-transform: lowercase;
}

    .admin-nav__item > a:hover, .admin-nav__item > a:focus {
        background-color: transparent;
        color: #1E5061;
    }

/*
    $cello-blue: #1E5061;
    $nile-blue: #163c49;
    $surfie-green: #0B7976;

    $vivid-tangerine: #FF9F74;
    $wax-flower: #FFB4A1;

    $gallery-grey: #EFEFEF;
*/
