a {
    color: #000000;
}

    a:hover {
        color: #686F75;
        text-decoration: none;
    }

.texthidden {
    overflow: hidden;
    text-indent: -9999px;
}

.content__details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* sprint listing specific stuff */
.sprint__headline {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sprint__title {
    display: flex;
    align-items: baseline;
}

    .sprint__title span {
        margin-left: 10px;
        font-size: 12px;
    }

.sprint__details {
    display: flex;
    justify-content: space-between;
}

.sprint__points-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.sprint__points-item {
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px;
    border-radius: 5px;
    background: #d0d0d0;
    color: #ffffff;
}

/* sprint listing - story specific stuff */
.story__container {
    border: 1px solid #d0d0d0;
    margin-bottom: 5px;
}

.story__headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

    .story__headline > div {
        display: flex;
    }

.story__status {
    width: 25px;
    padding: 3px;
    overflow: hidden;
    text-indent: -9999px;
}

.story__title {
    width: 300px;
    padding: 3px 10px;
}

.story__tag {
    padding: 3px;
}

.story__tag-link {
    padding: 2px 4px;
    border-radius: 5px;
    color: #000000;
}

    .story__tag-link:hover {
        color: #686F75;
        text-decoration: none;
    }

.story__points {
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px;
    border-radius: 5px;
    background: #d0d0d0;
    color: #ffffff;
}

.story__priority, .story__type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.story__quick-links {
    padding: 3px;
}

.story-details__container {
    display: flex;
    justify-content: space-between;
}

.story-details__content {
    padding: 10px;
}

.story-details__actions {
    padding: 10px;
}

/* story status colours and styles */
.todo {
    color: #ffffff;
    background: #e85c5c;
    text-align: center;
}

.inprogress {
    color: #ffffff;
    background: #f7b55d;
    text-align: center;
}

.done {
    color: #ffffff;
    background: #69c685;
    text-align: center;
}
