$black: #0a0a0a;
$white: #ffffff;
$off-white: #fbfbfb;
$bon-jour: #f1eff0;

$alabaster: #e5e5e3;
$silver: #d9d9d6;
$dove-gray: #6e6e6e;
$cod-gray: #b0b0b0;

$cerulean: #0096ea;
$cornflower-blue: #387ef5;
$science-blue: #005ade;
$deep-sea-blue: #002897;

$danube: #5fa3cd;
$deep-cerulean: #0076b7;

$scarlet: #ef473a;

$alizarin-crimson: #E02128;
$thunderbird: #b5191f;
$japonica: #d97564;
$pueblo: #8d2817;
$dude: #ffffff;