<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - jennihaslam.com</title>

<link href="favicon.ico" rel="shortcut icon" />
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat" rel="stylesheet" />

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")