<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - jennihaslam.com</title>
@Styles.Render("~/Content/css")
<link rel="stylesheet" type="text/css" href="~/Content/iconfonts.css" />
<link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
@Scripts.Render("~/bundles/modernizr")
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>