@using Yogging.Models.ViewModels
@model StoryViewModel

<div>
    @Html.DisplayFor(model => model.Description)
</div>
<div>
    @Html.DisplayFor(model => model.AcceptanceCriteria)
</div>
<div>
    <button type="button" id="clearDetails">X</button>
</div>