@model Yogging.ViewModels.StoryViewModel

<div class="story-details__content">
    <div>
        <strong>Description:</strong> @Html.DisplayFor(model => model.Description)
    </div>
    <div>
        <strong>Acceptance Criteria:</strong> @Html.DisplayFor(model => model.AcceptanceCriteria)
    </div>
</div>

<div class="story-details__actions">
    <button class="btn button" type="button" id="story-details__close">X</button>
</div>