@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<h1>Locked out!</h1>
<h2>Gutted. This account has been locked out, please try again later or contact an administrator.</h2>