@model IEnumerable<Yogging.ViewModels.SprintViewModel>

@{
    ViewBag.Title = "Finished sprints";
}

<div class="body-admin">
    <h2>Finished Sprints</h2>

    <p>
        @Html.ActionLink("Active and future Sprints", "Index")
    </p>
</div>

@if (Model.Any())
{
    @Html.Partial("_SprintList", Model)
}