@using Yogging.Models.ViewModels
@model IEnumerable<SprintViewModel>

@{
    ViewBag.Title = "Finished Sprints";
}

<div class="body-admin">
    <h2>Finished Sprints</h2>

    <p>
        @Html.ActionLink("Active and future Sprints", "Index")
    </p>

    @if (Model.Any())
    {
        @Html.Partial("_SprintList", Model)
    }

</div>