@using Yogging.Models.ViewModels
@model IEnumerable<SprintViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Sprints</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.Any())
{
    @Html.Partial("_SprintList", Model)
}
else
{
    <p>
        There are no current or future sprints. Please create a new one or @Html.ActionLink("view completed Sprints", "Finished")
    </p>
}