@using Yogging.Models.ViewModels
@model IEnumerable<SprintViewModel>

@{
    /**/

    ViewBag.Title = "Sprints";
}

<div class="body-admin">
    <h2>Sprints</h2>

    <div>
        @Html.ActionLink("Create New Sprint", "Create") | @Html.ActionLink("Completed Sprints", "Finished")
    </div>
</div>

@if (Model.Any())
{
    @Html.Partial("_SprintList", Model)
}
else
{
    <div class="body-admin">
        <p>
            There are no current or future sprints. Please create a new one or @Html.ActionLink("view completed Sprints", "Finished")
        </p>
    </div>
}