@{
    ViewBag.Title = "home";
}

<div class="home__container">
    <div>
        <h1>jennihaslam.com</h1>
    </div>
    <ul class="home__nav-links">
        <li class="home__nav-link">
            @Html.ActionLink("About", "About", "Home")
        </li>
        <li class="home__nav-link">
            @Html.ActionLink("Blog", "Index", "Blog")
        </li>
        <li class="home__nav-link">
            @Html.ActionLink("Music", "Playlists", "Home")
        </li>
    </ul>
</div>