@using Yogging.Models.ViewModels
@model TagViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Tag details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

@Html.Partial("_TagStoriesList", Model.Stories)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
