@using Yogging.Models.ViewModels
@model BlogViewModel

@{
    ViewBag.Title = "Blog";
}

<h1>
    my blog
</h1>

<p>
    Hello. Please see below for my latest blog posts from Blogger. x
</p>

<div class="blog" id="blog__more-posts">
    @Html.Partial("_BlogPostsList", Model)
</div>

<div class="blog__more">
    <a class="btn button blog__button text--lowercase">
        More posts
    </a>
</div>